# SECRETS (local ssl certs, public-private key pairs for SSH, environment variables)
*.env
*.env.*
*.pem
*.cert
*.key

# NOT NEEDED (can just regenerate)
logs/
__pycache__/
node_modules
*.sqlite3
*.sql

# LOCAL (not secret but also not necessary besides locally)
scratch/
backups/
sql/
all-links.csv
